@charset "utf-8";
:focus {
  outline: none;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #666666;
}
a,
input,
textarea,
select {
  outline: none;
}
a {
  color: #444444;
}
em {
  font-style: italic;
}
h1,
h2 {
  line-height: 1.2;
  font-family: 'HelveticaNeueW47LtCn', Arial, sans-serif;
  letter-spacing: 0.5px;
}
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: 'HelveticaNeueW77BdCn', Arial, sans-serif;
  font-weight: normal !important;
}
h1 {
  font-size: 35px;
  font-size: 3.5rem;
  color: #d13d73;
  text-transform: uppercase;
}
h1 a {
  color: #d13d73;
}
h2 {
  font-size: 26px;
  font-size: 2.6rem;
}
h3 {
  font-size: 20px;
  font-size: 2rem;
}
h4,
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}
h6 {
  font-size: 15px;
  font-size: 1.5rem;
}
h2,
h3,
h4 {
  color: #444444;
}
h2 a,
h3 a,
h4 a {
  color: #444444;
}
h5,
h6 {
  color: #666666;
}
h5 a,
h6 a {
  color: #666666;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}
table,
p,
ul {
  margin: 1rem 0;
}
table:first-child,
p:first-child,
ul:first-child {
  margin-top: 0;
}
table:last-child,
p:last-child,
ul:last-child {
  margin-bottom: 0;
}
p.right {
  text-align: right;
}
strong {
  font-weight: bold;
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}
fieldset {
  border: 1px solid #d1d1d1;
  margin: 10px;
  padding-bottom: 20px;
}
.double {
  line-height: 2;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.hide {
  display: none !important;
}
.align-center {
  text-align: center;
}
.strong {
  font-weight: bold;
}
