@charset "utf-8";
#colorSearch {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.2;
}
#colorSearch .row.headline {
  border-bottom: 2px solid #666666;
  padding-top: 10px;
}
#colorSearch .row.headline .quickBasket {
  text-decoration: none;
}
@media only screen and (min-width: 901px) {
  #colorSearch .row.headline .quickBasket {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
#colorSearch .row.manufacturer {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #ffffff;
  padding-top: 5px;
}
#colorSearch .row.product {
  border-bottom: 1px solid #666666;
}
@media only screen and (min-width: 901px) {
  #colorSearch .row.product {
    padding: 3px 0;
  }
  #colorSearch .row.product .variant:not(:last-child) .toggle[data-target=Walls],
  #colorSearch .row.product .variant:not(:last-child) .walls {
    display: none;
  }
}
#colorSearch .row.variant {
  padding: 3px 0;
  border-top: 1px solid #666666;
}
@media only screen and (min-width: 901px) {
  #colorSearch .row.variant:first-child {
    padding-top: 0;
    border: 0 none;
  }
  #colorSearch .row.variant:last-child {
    padding-bottom: 0;
  }
}
@media only screen and (min-width:581px) {
  #colorSearch .row.variant .collection {
    display: none;
  }
}
@media only screen and (max-width: 580px) {
  #colorSearch .row.variant {
    padding-top: 5px;
  }
}
@media only screen and (max-width:900px) {
  #colorSearch .row.variant.foldedDimensions .dimensions {
    display: none;
  }
}
@media only screen and (max-width:900px) {
  #colorSearch .row.variant.foldedWalls .walls {
    display: none;
  }
}
@media only screen and (min-width: 901px) {
  #colorSearch .row.variant.foldedWalls .walls .grid,
  #colorSearch .row.variant.foldedWalls .walls .wallVariant {
    display: none;
  }
  #colorSearch .row.variant.foldedWalls .walls .header .column {
    padding: 0;
  }
}
#colorSearch .row.variant .comingSoon {
  padding: 4px;
}
#colorSearch .row.variant .walls {
  padding-top: 4px;
  background-color: #e8e8e8;
}
#colorSearch .row.variant .walls .header {
  border-bottom: none;
  font-weight: bold;
}
@media only screen and (max-width:900px) {
  #colorSearch .row.variant .walls .header {
    display: none;
  }
}
#colorSearch .row.variant .walls .header .column {
  padding: 20px 4px;
}
@media only screen and (max-width:900px) {
  #colorSearch .row.variant .walls .dimensions {
    display: block;
  }
}
@media only screen and (max-width: 580px) {
  #colorSearch .row.variant .walls .dimensions {
    padding-top: 20px;
  }
}
#colorSearch .row.variant .walls .wallVariant {
  border-top: 1px solid #ffffff;
  padding: 3px 0;
}
#colorSearch .row.variant .walls .width35 {
  width: 34.5%;
}
@media only screen and (max-width:900px) {
  #colorSearch .row.variant .walls .width35 {
    width: 100%;
  }
}
@media only screen and (min-width: 901px) {
  #colorSearch .row.variant .walls ul.grid.visual > li > span:not(:first-child) {
    position: relative;
    left: 2px;
  }
}
#colorSearch .row.variant .walls ul.grid.visual > li > span:first-child {
  width: 2.4%;
}
@media only screen and (min-width:581px) and (max-width:900px) {
  #colorSearch .column.dimensions {
    clear: both;
    min-height: 36px;
    padding-left: 20px;
  }
}
#colorSearch .column.dimensions .toggle {
  position: relative;
  top: 0;
  left: -20px;
}
@media only screen and (min-width: 901px) {
  #colorSearch .column.dimensions .toggle {
    display: none;
  }
}
@media only screen and (max-width: 580px) {
  #colorSearch .column.dimensions .toggle {
    left: 0;
  }
}
#colorSearch > .headline {
  font-weight: bold;
  background-color: #ffffff;
}
#colorSearch h2,
#colorSearch h3 {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  line-height: 1.2;
  padding: 4px;
}
#colorSearch h2 {
  font-size: 15px;
  font-size: 1.5rem;
  color: #d13d73;
  font-weight: bold;
}
#colorSearch h3 {
  font-size: 13px;
  font-size: 1.3rem;
  color: #666666;
}
@media only screen and (max-width:900px) {
  #colorSearch h3 {
    color: #999999;
    font-weight: bold ! important;
  }
  #colorSearch h3:before {
    background: url("../img/sprite20px.png") no-repeat;
    content: " ";
    background-position: -60px -20px;
    width: 5px;
    height: 8px;
    display: inline-block;
    margin-right: 8px;
  }
  #colorSearch h3:after {
    content: attr(data-manufacturer);
    float: left;
    margin-right: 8px;
    font-weight: normal ! important;
  }
}
@media only screen and (max-width:900px) {
  #colorSearch h3 {
    padding-top: 20px;
  }
}
#colorSearch a {
  text-decoration: underline;
}
#colorSearch a.remove {
  color: #d13d73;
  white-space: nowrap;
  text-decoration: none;
}
#colorSearch a.remove:before {
  content: '\00D7';
  display: inline-block;
  padding-right: 5px;
  font-weight: bold;
}
@media only screen and (min-width: 901px) {
  #colorSearch ul.grid.headline > li:first-child {
    display: none;
  }
}
#colorSearch ul.legend {
  margin-bottom: 20px;
}
@media only screen and (min-width: 901px) {
  #colorSearch ul.legend {
    display: none;
  }
}
#colorSearch.decor > .headline > :first-child,
#colorSearch.decor > .product > :first-child {
  display: none;
}
#colorSearch.decor > .headline .width75,
#colorSearch.decor > .product .width75 {
  width: 100%;
}
#colorSearch.decor .manufacturer {
  display: none;
}
#colorSearch.decor .decorHide {
  display: none;
}
ul.grid {
  width: 100%;
  display: table;
  table-layout: fixed;
}
ul.grid > li {
  display: table-row;
}
ul.grid > li > span {
  width: 1%;
  padding: 4px;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
ul.grid > li > span:last-child {
  width: 1.5%;
}
ul.grid > li > span.l3 {
  width: 3%;
}
ul.grid > li:last-child > span {
  border: 0 none;
}
ul.grid.headline > li:first-child {
  color: #666666;
  font-weight: bold;
}
@media only screen and (max-width: 580px) {
  ul.grid.list {
    display: block;
  }
  ul.grid.list > li {
    display: block;
  }
  ul.grid.list > li > span,
  ul.grid.list > li > div {
    width: 100%;
    display: block;
    padding: 2px 0;
    border: 0 none;
  }
  ul.grid.list > li > span:before,
  ul.grid.list > li > div:before {
    width: 50%;
    display: inline-block;
    color: #666666;
    font-weight: bold;
    vertical-align: top;
    content: attr(data-title);
  }
  ul.grid.list.headline > li:first-child {
    display: none;
  }
}
ul.grid.nowrap > li {
  white-space: nowrap;
}
ul.grid.zebra > li > span {
  border-bottom: 1px solid #666666;
  vertical-align: bottom;
}
ul.grid.zebra > li:not(:first-child):hover {
  background-color: #d13d73;
  color: #ffffff;
}
ul.grid.zebra > li:not(:first-child):hover > span.saleoff {
  color: #ffffff;
}
ul.grid.visual > li:first-child > span:not(:first-child) {
  padding: 0;
}
ul.grid.visual > li > span:first-child {
  width: 2.5%;
}
ul.grid.visual > li > span:last-child {
  width: 1%;
}
.tight {
  padding: 20px 10px 0;
}
.tight .column {
  padding: 0;
}
.tight .column .row {
  margin: 0;
}
.toggle {
  color: #d13d73;
  padding: 10px 0;
  padding-right: 20px;
  display: inline-block;
  text-decoration: none !important;
}
.toggle:before {
  background: url("../img/sprite20px.png") no-repeat;
  content: " ";
  margin: 0 5px 0 2px;
  display: inline-block;
  width: 15px;
  height: 8px;
  background-position: -20px -540px;
}
.toggle.folded:before {
  background-position: 0px -540px;
}
.amount input {
  width: 50px !important;
  /*margin-right: @gridGutter;*/
}
.inputInfo {
  margin-right: 15px;
}
.saleoff {
  color: #d13d73;
}
.saleoff .dotted {
  border-bottom: 1px dotted;
}
#overview .row {
  border-bottom: 1px solid #666666;
}
#overview .row.headline {
  font-weight: bold;
  border-bottom: 2px solid #666666;
}
.collections {
  display: inline-block;
  width: 100%;
}
@media only screen and (max-width: 580px) {
  .collections {
    width: 50%;
  }
}
.ellipsis {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}
.ellipsis:last-child {
  padding-bottom: 0;
}
